.main-section-container .charm {
  font-size: 100px;
}

.main-section-container #charm1 {
  transform: translate(50px, 230px);
}
.main-section-container #charm2 {
  transform-origin: center;
  transform: rotate(-45deg) translate(-300px,-500px);
}
.main-section-container #charm3 {
  transform: translate(200px);
}

@media only screen and (max-width: 600px) {
  .main-section-container .charm {
    font-size: 50px;
  }

  .main-section-container #charm1 {
    transform:rotate(12deg) translate(40px,110px);
  }
  .main-section-container #charm2 {
    transform-origin: center;
    transform: rotate(-45deg) translate(0,0);
  }
  .main-section-container #charm3 {
  display:none;
  }
}
