.main-section-container {
  display: flex;
  align-items: center;

  height: 600px;
  margin: 50px 0 50px 50px;

  background-color: #c5c5c5;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f6f6f6;
  overflow-x: hidden;
}

@media only screen and (max-width: 600px) {
  .main-section-container {
    height: 300px;
    margin: 20px 0 20px 20px;
  }
}